<div class= "container">
<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.category %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<% @restaurant.reviews.each do |review| %>
<h4>Reviews</h4>
<div class = "d-flex">
<p><%= review.content %></p>
<p> <%= review.rating %></p>
</div>
<% end %>

<p><%= link_to "Go back to restaurants", restaurants_path %></p>
<p><%= link_to "Add new review", new_restaurant_review_path(@restaurant) %></p>

</div>
